<!DOCTYPE html>
<html dir="rtl" lang="ar-sa">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    @*<link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto:300,400,500,700|Rubik:400,600" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/dark.css" type="text/css" />

    <!-- Real Estate Demo Specific Stylesheet -->
    <link rel="stylesheet" href="~/Content/real-estate/real-estate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/real-estate/css/font-icons.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="~/Content/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/real-estate/fonts.css" type="text/css" />

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="~/Content/css/components/bs-select.css" type="text/css" />

    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="~/Content/css/components/bs-switches.css" type="text/css" />

    <!-- Range Slider CSS -->
    <link rel="stylesheet" href="~/Content/css/components/ion.rangeslider.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Content/css/colors.php?color=2C3E50" type="text/css" />

    <!-- Document Title
    ============================================= -->
    <title>كانفاس للعقارات</title>

    <style>
        .slider-element {
            padding: 250px 0 150px;
        }

        .device-md .slider-element,
        .device-sm .slider-element,
        .device-xs .slider-element {
            padding: 60px 0;
        }

        .expand-link {
            display: none;
        }

        .more-search {
            display: block;
            margin-top: 10px;
            float: right;
            text-align: right;
            color: #FFF;
            cursor: pointer;
        }

        label {
            font-family: 'Raleway', sans-serif !important;
        }

        .bootstrap-select.btn-group > .dropdown-toggle {
            background-color: #dae0e5;
            border-color: #d3d9df;
             padding-left: 25px;
    padding-right: 15px;
        }
        .bootstrap-select.btn-group .btn .caret {
    position: absolute;
    top: 50%;
    left: 12px;
    right:auto; /* this line should be added to override the default behavior */
    margin-top: -2px;
    vertical-align: middle;
}
        .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
            text-align:right;
        }
    </style>
    @RenderSection("styles", required: false)
</head>

<body class="stretched side-push-panel">

    <div id="side-panel">

        <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

        <div class="side-panel-wrap">

            <div class="widget clearfix">

                <h4 style="text-align:center;">تسجيل الدخول عن طريق وسائل التواصل</h4>

                <a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-facebook">Facebook - فيسبوك</a>
                <a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-gplus">Google - جووجل</a>

                <div class="line"></div>

                <h4 style="text-align:center;">هل لديك حساب؟</h4>

                <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

                    <div class="col_full">
                        @*<label for="login-form-username" style="text-align:right;">اسم المستخدم</label>*@
                        <input type="text" id="login-form-username" name="login-form-username" placeholder="اسم المستخدم" value="" class="form-control" />
                    </div>

                    <div class="col_full">
                        @*<label for="login-form-password" style="text-align:right;">كلمة المرور</label>*@
                        <input type="password" id="login-form-password" name="login-form-password" placeholder="كلمة المرور" value="" class="form-control" />
                    </div>

                    <div class="col_full nobottommargin">
                        <button class="button button-rounded t400 nomargin" id="login-form-submit" name="login-form-submit" value="login">تسجيل الدخول</button>
                        <a href="#" class="fright">نسيت كلمة المرور</a>
                    </div>

                </form>


            </div>

        </div>

    </div>

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Top Bar
        ============================================= -->
        <div id="top-bar" class="transparent-topbar">

            <div class="container clearfix">

                <div class="col_half nobottommargin clearfix">

                    <!-- Top Links
                    ============================================= -->
                    @*<div class="top-links">
                        <ul>
                            <li>
                                <a href="#">All Cities</a>
                                <ul>
                                    <li><a href="#">New York</a></li>
                                    <li><a href="#">Los Angeles</a></li>
                                    <li><a href="#">California</a></li>
                                    <li><a href="#">Miami</a></li>
                                    <li><a href="#">Las Vegas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>*@
                    <!-- .top-links end -->

                </div>

                <div class="col_half fright col_last clearfix nobottommargin">

                    @*<!-- Top Links
    ============================================= -->
    <div class="top-links">
        <ul>
            <li class="d-sm-none d-md-none"><a href="#"><i class="icon-call"></i> +1800-123-7890</a></li>
                            <li><a href="#"><i class="icon-download-alt"></i> Download App</a></li>
                            <li class="top-bar-highlight">
                <a href="#">Sell/Rent your Property</a>
                <div class="top-link-section" style="font-size: 14px;">
                    Genuine Clients, 100% Trust Assurance and Lowest Fees on the Market. <a href="#" class="more-link font-secondary" style="border-bottom-style: dotted;">Learn More &rarr;</a>
                </div>
            </li>
            <li></li>
        </ul>
    </div><!-- .top-links end -->*@

                </div>

            </div>

        </div><!-- #top-bar end -->
        <!-- Header
        ============================================= -->
        <header id="header" class="static-sticky transparent-header dark">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="../../demo-real-estate.html" data-dark-logo="/Content/real-estate/images/logo.png" class="standard-logo"><img src="/Content/real-estate/images/logo.png" alt="Canvas Logo"></a>
                        <a href="../../demo-real-estate.html" data-dark-logo="/Content/real-estate/images/logo@2x.png" class="retina-logo"><img src="/Content/real-estate/images/logo@2x.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="with-arrows">

                        <ul>
                            @*<li>
                                <a href="#"><div>Properties</div></a>
                                <ul>
                                    <li><a href="single-property.html"><div>Condo Apartments</div></a></li>
                                    <li><a href="single-property.html"><div>Luxury Villas</div></a></li>
                                    <li><a href="single-property.html"><div>Premium Estates</div></a></li>
                                </ul>
                            </li>*@
                            <li><a href="#"><div>من نحن</div></a></li>
                            <li><a href="#"><div>تسجيل الشركات</div></a></li>
                            <li><a href="#"><div>الرئيسية</div></a></li>
                            <li><a href="#" class="side-panel-trigger"><div>تسجيل / تسجيل الدخول</div></a></li>
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->
        
        @RenderBody()
    
    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

        <div class="container">

            <!-- Footer Widgets
            ============================================= -->
            <div class="footer-widgets-wrap clearfix">

                <div class="col_two_fifth">

                    <div class="widget clearfix">

                        <img src="/Content/real-estate/images/logo@2x.png" style="position: relative; opacity: 0.85; left: -10px; max-height: 80px; margin-bottom: 20px;" alt="Footer Logo">

                        <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

                        <div class="line" style="margin: 30px 0;"></div>

                        <p class="ls1 t300" style="opacity: 0.6; font-size: 13px;">Copyrights &copy; 2017 Canvas: Real Estate</p>

                    </div>

                </div>

                <div class="col_three_fifth col_last">

                    <div class="col_half">
                        <div class="row clearfix">

                            <h4 class="ls1 t400 uppercase">Popular Locations</h4>

                            <div class="col-6 bottommargin-sm widget_links widget_real_estate_popular">
                                <ul>
                                    <li><a href="#"><i class="icon-map-marker2"></i> اسطنبول الشرقية</a></li>
                                </ul>
                            </div>

                            <div class="col-6 bottommargin-sm widget_links widget_real_estate_popular">
                                <ul>
                                    <li><a href="#"><i class="icon-map-marker2"></i> اسطنبول الغربية</a></li>
                                    
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col_half col_last">

                        <h4 class="ls1 t400 uppercase">للتواصل الاجتماعي</h4>

                        <div class="bottommargin-sm clearfix">
                            <a href="#" class="social-icon si-colored si-small si-rounded si-facebook" title="Facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon si-colored si-small si-rounded si-twitter" title="Twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="#" class="social-icon si-colored si-small si-rounded si-instagram" title="Instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>

                            <a href="#" class="social-icon si-colored si-small si-rounded si-apple" title="App Store">
                                <i class="icon-apple"></i>
                                <i class="icon-apple"></i>
                            </a>

                            <a href="#" class="social-icon si-colored si-small si-rounded si-android" title="Play Store">
                                <i class="icon-android"></i>
                                <i class="icon-android"></i>
                            </a>

                            <a href="#" class="social-icon si-colored si-small si-rounded si-skype" title="Skype">
                                <i class="icon-skype"></i>
                                <i class="icon-skype"></i>
                            </a>
                        </div>

                        <div class="widget subscribe-widget subscribe-form clearfix" data-loader="button">
                            <div class="widget-subscribe-form-result"></div>
                            <form action="#" method="post" class="nobottommargin">
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="sm-form-control not-dark required email" placeholder="أدخل بريدك الالكتروني">
                                <button class="button button-3d button-black noleftmargin norightmargin" style="margin-top: 15px;" type="submit">Subscribe</button>
                            </form>
                        </div>

                    </div>

                </div>

            </div><!-- .footer-widgets-wrap end -->

        </div>

    </footer><!-- #footer end -->

</div><!-- #wrapper end -->
<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/plugins.js"></script>

<!-- Bootstrap Select Plugin -->
<script src="~/Content/js/components/bs-select.js"></script>

<!-- Bootstrap Switch Plugin -->
<script src="~/Content/js/components/bs-switches.js"></script>

<!-- Range Slider Plugin -->
<script src="~/Content/js/components/rangeslider.min.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="~/Content/js/functions.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {

        $(".price-range-slider").ionRangeSlider({
            type: "double",
            prefix: "$",
            min: 200,
            max: 10000,
            max_postfix: "+"
        });

        $(".area-range-slider").ionRangeSlider({
            type: "double",
            min: 50,
            max: 20000,
            from: 50,
            to: 20000,
            postfix: " sqm.",
            max_postfix: "+"
        });

        jQuery(".bt-switch").bootstrapSwitch();

        jQuery('.more-search').click(function () {
            jQuery('.expand-link').slideToggle(400);
        });
        //$('.dropdown-item').attr('style','text-align:right;');
    });



</script>
    @RenderSection("scripts", required: false)
</body>
</html>