<!-- Slider
        ============================================= -->
<section id="slider" class="slider-element clearfix" style="background: url(/Content/real-estate/images/items/page-title.jpg) center center no-repeat; background-size: cover; overflow: visible;">

    <div class="container clearfix" style="z-index: 2">
        <div class="tabs advanced-real-estate-tabs clearfix">

            <div class="tab-container">

                <div class="tab-content clearfix" id="tab-properties">
                    <form action="#" method="post" class="nobottommargin">
                        <div class="row clearfix">
                            <div class="col-md-2 col-sm-12">
                                <label for="" class="d-block">نوع البحث</label>
                                <input class="bt-switch" type="checkbox" checked data-on-text="شراء" data-off-text="إيجار" data-on-color="themecolor" data-off-color="themecolor">
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <label for="">الموقع</label>
                                <select class="form-control" style="width:100%; line-height: 30px;">
                                    <option value="All">جميع المناطق</option>
                                    <option value="WI">اسطنبول الغربية</option>
                                    <option value="EI">اسطنبول الشرقية</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <label for="">نوع العقار</label>
                                <select class="form-control" style="width:100%; line-height: 30px;">
                                    <option value="Any">أي نوع</option>
                                    <option value="Studio">استوديو</option>
                                    <option value="Apartment">شقة</option>
                                    <option value="House">منزل</option>
                                    <option value="Villa">فيلا</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-6 col-6">
                                <button class="button button-3d button-rounded btn-block nomargin" style="margin-top: 29px !important;">بحث</button>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="expand-link">
                            <div class="row justify-content-between mt-3">
                                <div class="col-md-4 col-sm-6 col-12">
                                    <label for="" style="margin-bottom: 20px !important;">السعر</label>
                                    <input class="price-range-slider" />
                                </div>
                                <div class="clear d-xl-none d-lg-none d-md-none d-sm-none bottommargin-sm"></div>
                                <div class="col-md-4 col-sm-6 col-12">
                                    <label for="" style="margin-bottom: 20px !important;">المساحة</label>
                                    <input class="area-range-slider" />
                                </div>
                                <div class="col-md-2 col-sm-6 bottommargin-sm">
                                    <label for="">الغرف</label>
                                    <select class="form-control" style="width:100%; line-height: 30px;">
                                        <option value="1">1+</option>
                                        <option value="2">2+</option>
                                        <option value="3">3+</option>
                                        <option value="4">4+</option>
                                        <option value="5">5+</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-6 bottommargin-sm">
                                    <label for="">الحمامات</label>
                                    <select class="form-control" style="width:100%; line-height: 30px;">
                                        <option value="1">1+</option>
                                        <option value="2">2+</option>
                                        <option value="3">3+</option>
                                        <option value="4">4+</option>
                                        <option value="5">5+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <span class="more-search pull-left"><i class="icon-line-plus"></i> بحث متقدم</span>
        </div>
    </div>
    <div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
        <div class="video-overlay" style="background: rgba(0,0,0,0.3); z-index: 1;"></div>
    </div>

</section><!-- #slider end -->
<!-- Content
============================================= -->

<section id="content">

    <div class="content-wrap notoppadding">

        <div class="section nobg nomargin clearfix">
            <div class="container clearfix">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <a href="#" class="btn text-white bgcolor px-4"><i class="icon-line2-list"></i> قائمة</a>
                        <a href="#" class="btn btn-light ml-2 px-4"><i class="icon-map-marker2"></i> خريطة</a>
                    </div>
                    @*<div class="col-8 tright">

                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Listing</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">New Listing</button>
                                    <button class="dropdown-item" type="button">Home Opens</button>
                                </div>
                            </div>
                            <div class="dropdown ml-2">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Popular Listed</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">A - Z Listed</button>
                                    <button class="dropdown-item" type="button">Price: Lowest First</button>
                                    <button class="dropdown-item" type="button">Price: Highest First</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>

                <div class="real-estate topmargin grid-container portfolio-3 portfolio w-100 mw-100 clearfix" data-layout="fitRows">


                    <div class="real-estate-item portfolio-item bottommargin-sm">
                        <div class="real-estate-item-image">
                            <div class="label badge badge-danger bgcolor-2">للبيع</div>
                            <a href="#">
                                <img src="~/Content/real-estate/images/items/1.jpg" alt="Image 1">
                            </a>
                            <div class="real-estate-item-price">
                                1.2م<span>تنازل كامل</span>
                            </div>
                            <div class="real-estate-item-info clearfix" data-lightbox="gallery">
                                <a href="~/Content/real-estate/images/items/1.jpg" data-toggle="tooltip" title="Images" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/real-estate/images/items/3.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" data-toggle="tooltip" title="Like"><i class="icon-line-heart"></i></a>
                            </div>
                        </div>

                        <div class="real-estate-item-desc nopadding" style="text-align:right;">
                            <h3><a href="#">فيلا - 3 غرف</a></h3>
                            <span>اسطنبول الغربية</span>

                            <a href="#" class="real-estate-item-link"><i class="icon-info"></i></a>

                            <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

                            <div dir="rtl" class="real-estate-item-features row t500 font-primary px-3 clearfix">
                                <div class="col-lg-4 col-6 nopadding">غرف: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">حمامات: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">المساحة: <span class="color">150 م2</span></div>
                                <div class="col-lg-4 col-6 nopadding">مسبح: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">انترنت: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">خدمة تنظيف: <span class="text-danger"><i class="icon-minus-sign-alt"></i></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="real-estate-item portfolio-item bottommargin-sm">
                        <div class="real-estate-item-image">
                            <div class="label badge badge-danger bgcolor-2">للبيع</div>
                            <a href="#">
                                <img src="~/Content/real-estate/images/items/1.jpg" alt="Image 1">
                            </a>
                            <div class="real-estate-item-price">
                                1.2م<span>تنازل كامل</span>
                            </div>
                            <div class="real-estate-item-info clearfix" data-lightbox="gallery">
                                <a href="~/Content/real-estate/images/items/1.jpg" data-toggle="tooltip" title="Images" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/real-estate/images/items/3.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" data-toggle="tooltip" title="Like"><i class="icon-line-heart"></i></a>
                            </div>
                        </div>

                        <div class="real-estate-item-desc nopadding" style="text-align:right;">
                            <h3><a href="#">فيلا - 3 غرف</a></h3>
                            <span>اسطنبول الغربية</span>

                            <a href="#" class="real-estate-item-link" style="left: 20px;"><i class="icon-info"></i></a>

                            <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

                            <div dir="rtl" class="real-estate-item-features row t500 font-primary px-3 clearfix">
                                <div class="col-lg-4 col-6 nopadding">غرف: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">حمامات: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">المساحة: <span class="color">150 م2</span></div>
                                <div class="col-lg-4 col-6 nopadding">مسبح: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">انترنت: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">خدمة تنظيف: <span class="text-danger"><i class="icon-minus-sign-alt"></i></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="real-estate-item portfolio-item bottommargin-sm">
                        <div class="real-estate-item-image">
                            <div class="label badge badge-danger bgcolor-2">للبيع</div>
                            <a href="#">
                                <img src="~/Content/real-estate/images/items/1.jpg" alt="Image 1">
                            </a>
                            <div class="real-estate-item-price">
                                1.2م<span>تنازل كامل</span>
                            </div>
                            <div class="real-estate-item-info clearfix" data-lightbox="gallery">
                                <a href="~/Content/real-estate/images/items/1.jpg" data-toggle="tooltip" title="Images" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/real-estate/images/items/3.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" data-toggle="tooltip" title="Like"><i class="icon-line-heart"></i></a>
                            </div>
                        </div>

                        <div class="real-estate-item-desc nopadding" style="text-align:right;">
                            <h3><a href="#">فيلا - 3 غرف</a></h3>
                            <span>اسطنبول الغربية</span>

                            <a href="#" class="real-estate-item-link" style="left: 20px;"><i class="icon-info"></i></a>

                            <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

                            <div dir="rtl" class="real-estate-item-features row t500 font-primary px-3 clearfix">
                                <div class="col-lg-4 col-6 nopadding">غرف: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">حمامات: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">المساحة: <span class="color">150 م2</span></div>
                                <div class="col-lg-4 col-6 nopadding">مسبح: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">انترنت: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">خدمة تنظيف: <span class="text-danger"><i class="icon-minus-sign-alt"></i></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="real-estate-item portfolio-item bottommargin-sm">
                        <div class="real-estate-item-image">
                            <div class="label badge badge-danger bgcolor-2">للبيع</div>
                            <a href="#">
                                <img src="~/Content/real-estate/images/items/1.jpg" alt="Image 1">
                            </a>
                            <div class="real-estate-item-price">
                                1.2م<span>تنازل كامل</span>
                            </div>
                            <div class="real-estate-item-info clearfix" data-lightbox="gallery">
                                <a href="~/Content/real-estate/images/items/1.jpg" data-toggle="tooltip" title="Images" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/real-estate/images/items/3.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" data-toggle="tooltip" title="Like"><i class="icon-line-heart"></i></a>
                            </div>
                        </div>

                        <div class="real-estate-item-desc nopadding" style="text-align:right;">
                            <h3><a href="#">فيلا - 3 غرف</a></h3>
                            <span>اسطنبول الغربية</span>

                            <a href="#" class="real-estate-item-link" style="left: 20px;"><i class="icon-info"></i></a>

                            <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

                            <div dir="rtl" class="real-estate-item-features row t500 font-primary px-3 clearfix">
                                <div class="col-lg-4 col-6 nopadding">غرف: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">حمامات: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">المساحة: <span class="color">150 م2</span></div>
                                <div class="col-lg-4 col-6 nopadding">مسبح: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">انترنت: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">خدمة تنظيف: <span class="text-danger"><i class="icon-minus-sign-alt"></i></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="real-estate-item portfolio-item bottommargin-sm">
                        <div class="real-estate-item-image">
                            <div class="label badge badge-danger bgcolor-2">للبيع</div>
                            <a href="#">
                                <img src="~/Content/real-estate/images/items/1.jpg" alt="Image 1">
                            </a>
                            <div class="real-estate-item-price">
                                1.2م<span>تنازل كامل</span>
                            </div>
                            <div class="real-estate-item-info clearfix" data-lightbox="gallery">
                                <a href="~/Content/real-estate/images/items/1.jpg" data-toggle="tooltip" title="Images" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/real-estate/images/items/3.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" data-toggle="tooltip" title="Like"><i class="icon-line-heart"></i></a>
                            </div>
                        </div>

                        <div class="real-estate-item-desc nopadding" style="text-align:right;">
                            <h3><a href="#">فيلا - 3 غرف</a></h3>
                            <span>اسطنبول الغربية</span>

                            <a href="#" class="real-estate-item-link" style="left: 20px;"><i class="icon-info"></i></a>

                            <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

                            <div dir="rtl" class="real-estate-item-features row t500 font-primary px-3 clearfix">
                                <div class="col-lg-4 col-6 nopadding">غرف: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">حمامات: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">المساحة: <span class="color">150 م2</span></div>
                                <div class="col-lg-4 col-6 nopadding">مسبح: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">انترنت: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">خدمة تنظيف: <span class="text-danger"><i class="icon-minus-sign-alt"></i></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="real-estate-item portfolio-item bottommargin-sm">
                        <div class="real-estate-item-image">
                            <div class="label badge badge-danger bgcolor-2">للبيع</div>
                            <a href="#">
                                <img src="~/Content/real-estate/images/items/1.jpg" alt="Image 1">
                            </a>
                            <div class="real-estate-item-price">
                                1.2م<span>تنازل كامل</span>
                            </div>
                            <div class="real-estate-item-info clearfix" data-lightbox="gallery">
                                <a href="~/Content/real-estate/images/items/1.jpg" data-toggle="tooltip" title="Images" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/real-estate/images/items/3.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" data-toggle="tooltip" title="Like"><i class="icon-line-heart"></i></a>
                            </div>
                        </div>

                        <div class="real-estate-item-desc nopadding" style="text-align:right;">
                            <h3><a href="#">فيلا - 3 غرف</a></h3>
                            <span>اسطنبول الغربية</span>

                            <a href="#" class="real-estate-item-link" style="left: 20px;"><i class="icon-info"></i></a>

                            <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

                            <div dir="rtl" class="real-estate-item-features row t500 font-primary px-3 clearfix">
                                <div class="col-lg-4 col-6 nopadding">غرف: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">حمامات: <span class="color">3</span></div>
                                <div class="col-lg-4 col-6 nopadding">المساحة: <span class="color">150 م2</span></div>
                                <div class="col-lg-4 col-6 nopadding">مسبح: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">انترنت: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                                <div class="col-lg-4 col-6 nopadding">خدمة تنظيف: <span class="text-danger"><i class="icon-minus-sign-alt"></i></span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container clearfix">
            <div class="section center nomargin" style="padding:80px 0 ">
                <h3 class="t400 ls1">Special Offers on Villa Long Term Rentals &amp; Lease Agreements</h3>
                <a href="contact.html" class="button button-color button-large button-rounded">Contact Now</a>
            </div>
        </div>

    </div><!-- .content-wrap end -->

</section>
<!-- #content end -->

@section styles{
    <style>
        .real-estate-item-link {
            right: auto !important;
            left: 20px !important;
        }
        .real-estate-item-price {
            z-index: 9;
        }
    </style>
    }